@{
    ViewData["Title"] = "Cadastro de contato";
}

<div class="text-center">

    <h1> Deseja realmente apagar o contato?</h1>
    <br />
    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Deletar">Confirmar exclusão</a>
</div>
